@model HospitalSystem.Models.medicine
<tr>
    <td>
        @Model.MedicineID
    </td>
    <td>
        @Model.MedicineName
    </td>
    <td>
        <input class="input-mini search-query" type="text" >
    </td>
</tr>

