@model HospitalSystem.Models.patient
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.PatientID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Telephone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Gender)
    </td>
</tr>
