@{
    ViewBag.Title = "关于我们";
}

<h2>医院介绍</h2>
<p>
    上海交通大学医学院附属瑞金医院建于1907年，原名广慈医院，是一所大型综合性教学三级甲等医院。医院占地面积12万平方米，建筑面积24.5万平方米，绿化面积4万平方米，核定床位1600张，全院职工3496人，其中医师1010余人（正副教授及各类高级科技人员593人）。瑞金医院拥有一大批在国内外享有较高知名度的医学专家，其中包括3名两院院士（中国科学院院士1人，中国工程院院士2人），1名欧洲科学院院士，2名发展中国家科学院院士，5名长江学者特聘教授，3名国家“973”项目首席科学家，9名国家杰出青年科学基金获得者等。
瑞金医院于20世纪50年代成功抢救邱财康后，大面积烧伤治疗始终处于世界先进水平；70年代在国内率先开展了心脏和肝脏的移植手术；90年代在白血病分子生物学研究和临床医疗领域取得了重大进展；21世纪日臻完善的器官移植，使得许多病人将这里视为生命的绿洲。为此，医院获得了全国卫生系统先进集体（6次）、全国“五四”红旗团组织创建单位等。
瑞金医院是上海交通大学医学院最大的临床教学基地，“瑞金临床医学院”也设在医院中，承担医学系、检验系、高级护理系的临床教学任务，并接受上海交通大学医学院夜大学、高级医师进修班及来自全国各地医院的进修学员的临床教学任务。
1999年8月4日，为了贯彻落实国家卫生改革工作的精神，探索市场经济条件下医院发展的新模式，实现“以比较低廉的价格提供比较优质服务”的宗旨，瑞金医院率先与部分医疗机构实行资产重组，建立了上海瑞金医院集团，初步实现了跨地区、跨行业、跨级别、跨部门医疗资源的重组，使以瑞金医院为核心的区域医疗卫生中心逐步形成。多年来，瑞金医院与集团下属的医院分部、卢湾分院、闵行医院和台州中心医院都取得了明显的经济效益和社会效益。
2002年10月25日，瑞金医院在科研工作模式的探索上又迈出了坚实的一步，在国内开创性的成立了“生物医学研究院”。从而形成了“大科研”的新格局，实现科研体制、用人机制和科学研究等的全面创新。该研究院以瑞金医院的研究力量为主，联合中国科学院上海生命科学研究院、原上海第二医科大学健康科学中心、国家人类基因组南方中心等科研单位，是我国第一个以医院为主体的、将生命科学与临床医学紧密结合的研究与开发机构。研究院所奉行的“但求所用，不求所有”的用人原则，真正实现了人才的“柔性流动”，使更多科研人员有了施展才华的舞台和空间。
2010年瑞金医院门急诊人次达270.6万，手术例数达4.12万次，出院病人7.6万人次，平均住院天数为8.68天。
</p>
