@{
    ViewBag.Title = "主页";
}

<div class="carousel slide" id="carousel-429422">
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel-429422">&nbsp;</li>
        <li data-slide-to="1" data-target="#carousel-429422">&nbsp;</li>
        <li data-slide-to="2" data-target="#carousel-429422">&nbsp;</li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <center><img alt="" align="center" src="/Content/themes/base/images/3.jpg" class="img-polaroid"/></center>
            <div class="carousel-caption" contenteditable="true">
                <h4>各地备战防患H7N9禽流感</h4>

                <p>禽流感（Bird Flu或Avian Influenza）是由禽流感病毒引起的一种急性传染病，也能感染人类，人感染后的症状主要表现为高热、咳嗽、流涕、肌痛等，多数伴有严重的肺炎，严重者心、肾等多种脏器衰竭导致死亡，病死率很高，通常人感染禽流感死亡率约为33%。此病可通过消化道、呼吸道、皮肤损伤和眼结膜等多种途径传播，区域间的人员和车辆往来是传播本病的重要途径。</p>
            </div>
        </div>

        <div class="item">
            <center><img alt="" align="center" src="/Content/themes/base/images/2.jpg" class="img-polaroid"/></center>
            <div class="carousel-caption" contenteditable="true">
                <h4>维C银翘片或含禁用成分</h4>

                <p>维C银翘片可以用于外感风热所致的流行性感冒，清热解毒，不少市民在感冒之后都喜欢自己去买感冒药，维C银翘片是其中的一种。但是，在6月18日，香港卫生署呼吁勿用“维C银翘片”，因为可能含有“非那西丁”和“氨基比林”等多种未标示或已被禁用的西药成分，服用后会对人体造成伤害。</p>
            </div>
        </div>

        <div class="item">
            <center><img alt="" align="center" src="/Content/themes/base/images//1.jpg" class="img-polaroid"/></center>
            <div class="carousel-caption" contenteditable="true">
                <h4>六大环节确保心脏介入手术质量 </h4>

                <p>2011年4月，第60届美国心脏病学会在美国新奥尔良举行，会上首次提出，经对介入术后患者的随访数据分析得知，“病人术后远期疗效好坏和术者技术水平有极大关系”，因此，选择专业的心脏病诊疗医院和技术娴熟的介入手术医生显得尤为重要。1977年，世界首例冠心病经皮介入治疗（PCI）成功，这种不开胸的新技术结束了只有心脏外科手术才能重建冠脉血管的历史。经过30多年的发展，介入治疗因其安全性高、损伤小、恢复快、疗效显著等特点，已被临床广泛接受。我国2010年PCI手术量近30万例，它与心脏外科手术并驾齐驱，成为冠心病的两种主要治疗方式。</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" data-slide="prev" href="#carousel-429422">&lsaquo;</a> <a class="right carousel-control" data-slide="next" href="#carousel-429422">&rsaquo;</a>
</div>

<p>
    © 2013-06 医院信息管理系统 版权所有
</p>
